# Ignore all files without extensions (excluding the makefile)
*
!*.*
!*/
!Makefile
!dmenu_run
!dmenu_path

# ignoring config.h (automatically gets created on build)
config.h

# ignoring object files
*.o
